@model HardwareListViewModel

<div>
    <h2><b>@Model.CategoriaAtual</b></h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var hardware in Model.Hardwares)
        {
           <partial name="_HardwaresResumo" for="@hardware"/>
        }
    </div>
</div>