@model HardwareListViewModel

<div>
    <h2><b>@Model.CategoriaAtual</b></h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var hardware in Model.Hardwares)
        {
            <div class="col-sm-4 cold-md-4 col-lg-4">
                <p><img src="/@hardware.ImagemThumbnailUrl" class="w-25 object-fit-contain img-fluid" /></p>
                <h3>Price: @hardware.Preco.ToString("C")</h3>
                <h4>@hardware.Nome</h4>
                <p>@hardware.DescricaoCurta</p>
            </div>
        }
    </div>
</div>